{% extends 'diary_navbar.html' %}
{% block title %}
    Contacts
{% endblock %}

{% block customer_name %}
    {{ name }}
{% endblock %}

{% block body %}

    <!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Welcome To Contacts</div>
            <div class="masthead-heading text-uppercase">Save Your Contacts</div>
            <a class="btn btn-outline-light btn-xl text-uppercase js-scroll-trigger" href="/diary">Get Started</a>
        </div>
    </header>
{% endblock %}